onnx>=1.9.0
tensorflow>=2.7
pyparsing==2.4.7
psutil==5.6.7
tqdm==4.59.0
onnxruntime>=1.7.0
scipy==1.5.4
opencv-python==4.5.1.48
matplotlib==3.3.4
torchvision==0.12
torch==1.11
networkx==2.5.1
pytest==6.2.5
pyvis==0.1.9
gitpython==3.1.18
pandas==1.2.4
loguru==0.5.3
pillow==8.4.0
numpy>=1.22.3
configargparse==1.5.3
foolbox~=3.3.3
onnx2torch~=1.4.1
pydocstyle~=6.2.3
protobuf==3.20.*
